header {
    display: inline;
}

.date {
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    background: rgb(148, 185, 253);
    border-radius: 50%;
    margin: 50px;
    float: left;
    padding: 30px 20px 10px 20px;
    font-size: 25px;
    color: #ffffff;
}

header>h1 {
    padding: 70px;
}

p1 {
    padding: 0px 70px 70px 70px;
    float: left;
}

p2 {
    display: inline;
    font-size: 18px;
    padding: 40px;
    margin-left: 100px;
    border-left: 5px solid gray;
}

p3 {
    padding: 50px 70px 10px 70px;
    float: left;
}